# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Build outputs
dist/
build/
out/
*.exe
*.dll
*.so
*.dylib
bin/
obj/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

# Testing
coverage/
.nyc_output

# Misc
.cache/
*.txt